{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/payment.css' %}">
<style>
 
.btn-golden a {
        color: white;
        text-decoration: none; /* Optional: Remove underline */
        /* transition: color 0.3s ease; Add smooth transition effect */
    }

    .btn-golden:hover a {
        color: #b19361;
    }

</style>

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Cart</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Cart Section:::... -->


        <div class="container-fluid container-fluid cart-section">
            <div class="row px-xl-5">
                <div class="col-8 table-responsive mb-5">
                    <div class="table_desc">
                        <div class="table_page table-responsive " id="cart-table">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                  
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                             <tbody>
                                    <!-- Start Cart Single Item-->
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        
                                        <td class="product_thumb">
                                            <a href=""><img src="{{ cart_item.product.thumbnail_image.url }}" alt=""></a>
                                        </td>
                                        <td class="product_name">
                                            <a href="{% url 'product_detail' slug=cart_item.product.product_variant_slug %}">{{ cart_item.product.get_product_name  }}</a>
                                        </td>
                                        <td class="product-price">${{ cart_item.product.total_price }}</td>
                                        <td class="product_quantity">
                                                
                                            
                                        </td>
                                        <td class="product_total" id="subtotal-{{ cart_item.id }}">${{ cart_item.sub_total }}</td>
                                    </tr>
                                    {% endfor %}<!-- End Cart Single Item-->

                                </tbody>

                    


                            </table>
                        </div>

                    </div>
                </div>

                <div class="checkout-grid col-lg-4">
                    <div class="order-summary js-order-summary"></div>
                
                    
                
                    <div class="payment-summary">
                        {% comment %}
                        <div class="">
                            <input id='coupon' type="text" class="" placeholder="Coupon Code" name="coupon">
                            <div class="">
                                <button type="submit" class="btn btn-sm btn-golden">Apply Coupon</button>
                            </div>
                        </div>
                        {% endcomment %}
                      <div class="payment-summary-title">Order Summary</div>
                
                      <div class="payment-summary-row">
                        <div id="quantity">Subtotal ({{quantity}} Items):</div>
                        <div class="payment-summary-money" id="total">${{total}}</div>
                      </div>
                
                      <div class="payment-summary-row">
                        <div>Shipping &amp; handling:</div>
                        <div class="payment-summary-money" id="shipping">${{shipping}}</div>
                      </div>
                
                      <div class="payment-summary-row subtotal-row">
                        <div>Total before tax:</div>
                        <div class="payment-summary-money" id="before_tax"></div>
                      </div>
                
                      <div class="payment-summary-row">
                        <div>Estimated tax (5%):</div>
                        <div class="payment-summary-money" id="tax">${{tax}}</div>
                      </div>
                
                      <div class="payment-summary-row total-row">
                        <div>Order total:</div>
                        <div class="payment-summary-money" id="grandtotal">${{grandtotal}}</div>
                      </div>
                
                      <button class="btn btn-block btn-golden" >
                        <a href="{% url 'payment' %}" style="color:white;">Place Order</a>
                      </button>
                    </div>
                  </div>

            </div>
        </div>
   <!-- End Cart Table -->

    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input class="mb-2" placeholder="Coupon code" type="text">
                                <button type="submit" class="btn btn-md btn-golden">Apply coupon</button>
                            </div>
                        </div> -->
            </div>
           

        </div>
    </div>
        </div> 

<!-- End Coupon Start -->
 <!-- ...:::: End Cart Section:::... -->

<!-- <script>
    function updateCart(cartItemId, newQuantity) {
        fetch(`/update_cart/${cartItemId}/${newQuantity}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update the subtotal in your HTML
                    document.getElementById(`subtotal-${cartItemId}`).innerText = `$${data.subtotal}`;
                } else {
                    console.error(data.message);
                    // Handle the error, e.g., display an alert to the user
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle the error, e.g., display an alert to the user
            });
    }
</script> -->

<script>






function deleteCartItem(cartItemId) {
    fetch(`/delete_cart_item/${cartItemId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Remove the deleted item from the HTML
                const deletedItem = document.getElementById(`cart-item-${cartItemId}`);
                deletedItem.remove();

                // Check if the cart is empty
                const cartTable = document.getElementById('cart-table');
                if (cartTable && !cartTable.querySelector('tbody tr')) {
                    // Cart is empty, redirect to the cart page
                    window.location.href = '/cart/';
                }
            } else {
                console.error(data.message);
                
            }
        })
        .catch(error => {
            console.error('Error:', error);
            
        });

    // Prevent the default action (page reload) of the link click
    // event.preventDefault();
}


    
  async function updateOrderSummary() {
      try {
          const response = await fetch('/order-summary/');
          const data = await response.json();

          // Update DOM elements with the new data
          document.getElementById('total').innerText      = `$${data.total}`;
          document.getElementById('quantity').innerText   = `Subtotal (${data.quantity} items)`;
          document.getElementById('shipping').innerText   = `$${data.shipping}`;
          document.getElementById('before_tax').innerText = `$${parseInt(data.shipping) + parseInt(data.total)}`;
          document.getElementById('tax').innerText        = `$${data.tax}`;
          document.getElementById('grandtotal').innerText = `$${data.grandtotal}`;
      } catch (error) {
          console.error('Error fetching order summary:', error);
      }
  }

  // Call the function to update order summary on page load
  updateOrderSummary();




    function updateCart(cartItemId, newQuantity) {
      if (newQuantity == 0) {
        deleteCartItem(cartItemId);
        return;
    }


    fetch(`/update_cart/${cartItemId}/${newQuantity}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the subtotal in your HTML
                const subtotalElement = document.getElementById(`subtotal-${cartItemId}`);
                subtotalElement.innerText = `$${data.subtotal}`;
                console.log('Updating +++++++++++++++++++++++');
                

                // Call the endpoint to update the cart total
                updateOrderSummary();
            } else {
                console.error(data.message);
                // Handle the error, e.g., display an alert to the user
                alert(`Error: `);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
            // Handle the fetch error, e.g., display an alert to the user
            alert('Error updating cart. Please try again.');
        });
}

</script>




{% endblock content %}