{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}

<!-- <div class="container  justify-content-center mb-5 mt-5"> -->
    <!-- <div class="Group244" style="width: 881px; height: 342.87px; position: relative;"> -->
        <!-- <div class="Group243" style="width: 881px; height: 249.32px; left: 0px; top: 0px; position: absolute">
          <div class="ThankYou" style="width: 850px; height: 90px; left: 0px; top: 159px; position: absolute; text-align: center; color: black; font-size: 20px;  font-weight: 400; word-wrap: break-word">Thank You for your order, Sit tight we are processing your order<br/>we will update you with your order in email<br/> </div>
          <div class="YourOrderIsCompleted" style="width: 444px; height: 48.63px; left: 219px; top: 86px; position: absolute; color: black; font-size: 35px;  font-weight: 600; word-wrap: break-word">Order Placed</div>
          <div class="Package1" style="width: 63px; height: 62.16px; left: 409px; top: 0px; position: absolute" ><i class="fa-sharp fa-light fa-box-circle-check" style="font-size: 50px;"></i></div>
        </div> -->
        <!-- <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="text-center mb-4">
                <div class="text-center">
                  <i class="fa-sharp fa-light fa-box-circle-check" style="font-size: 50px;"></i>
                </div>
                <h2>Order Placed</h2>
                <div class="" style="font-size: 20px;">Thank you for your order! Sit tight, we are processing your order. We will update you with your order details via email.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="d-flex justify-content-between">
                <div class="Group242">
                  <button class="btn btn-golden btn-block" style="border-radius: 5px;">Continue Shopping</button>
                </div>
                <div class="Group242">
                  <button class="btn btn-golden btn-block" style="border-radius: 5px;">View Orders</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->



        <div class="container  p-4" style="margin-top: 100px;margin-bottom: 100px;">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="text-center mb-4">
                <div class="text-center">
                  <i class="fa-sharp fa-light fa-box-circle-check" style="font-size: 50px;"></i>
                </div>
                <h1 class="p-4">Order Placed</h1>
                <div style="font-size: 20px;">Thank you for your order! Sit tight, we are processing your order. We will update you with your order details via email.</div>
              </div>
              <div class="d-flex" style='gap: 60px;justify-content: center;'>
                <div class="Group242">
                  <a class="btn btn-golden btn-block" href="{% url 'shop' %}" style="border-radius: 5px;padding: 15px 50px;">Continue Shopping</a>
                </div>
                <div class="Group242">
                  <a class="btn btn-golden btn-block" href="{% url 'myorder' %}" style="border-radius: 5px;padding: 15px 60px ;">View Orders</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        








        



        <!-- <div class="d-flex">
          <div class="Group242" style="width: 250px; height: 50px; left: 106px; top: 271px; position: absolute">
          <div class="btn  btn-block btn-golden" style="padding:15px 15px ;  border-radius: 5px;">Continue Shopping</div>
          </div>
        <div class="Group242" style="width: 250px; height: 50px; left: 482px; top: 271px; position: absolute">
          <div class="btn  btn-block btn-golden" style="padding:15px 15px ;  border-radius: 5px;">View Orders</div>
        </div>
      </div>   -->
        </div>
        
</div>

{% endblock content %}