{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/payment.css' %}">
<style>
 
.btn-golden a {
        color: white;
        text-decoration: none; /* Optional: Remove underline */
        /* transition: color 0.3s ease; Add smooth transition effect */
    }

    .btn-golden:hover a {
        color: #b19361;
    }

</style>

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Order Review</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Cart Section:::... -->


        <div class="container-fluid container-fluid cart-section">
            <div class="row px-xl-5">
                <div class="col-8 table-responsive mb-5">
                    <div class="table_desc">
                        <div class="table_page table-responsive " id="cart-table">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                  
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                             <tbody>
                                    <!-- Start Cart Single Item-->
                                    {% for order_item in orders_items %}
                                    <tr>
                                        
                                        <td class="product_thumb">
                                            <a href=""><img src="{{ order_item.images.url }}" alt=""></a>
                                        </td>
                                        <td class="product_name">
                                            <a href="">{{ order_item.product_variant  }}</a>
                                        </td>
                                        <td class="product-price">{{ order_item.product_price }}</td>
                                        <td class="product_quantity">{{ order_item.quantity }}</td>
                                        <td class="product_total" id="subtotal-{{ cart_item.id }}">${{ order_item.total_price }}</td>
                                    </tr>
                                    {% endfor %}<!-- End Cart Single Item-->

                                </tbody>

                    


                            </table>
                        </div>

                    </div>
                </div>

                <div class="checkout-grid col-lg-4">
                    <div class="order-summary js-order-summary"></div>
                
                    
                
                    <div class="payment-summary">
                        <div class="payment-summary-title">Order Summary</div>
                        <div class="payment-summary-row">
                        <div id="quantity">Subtotal ({{quantity}} Items):</div>
                        <div class="payment-summary-money" id="total">${{total}}</div>
                        </div>
                        <div class="payment-summary-row" id="offerDiv">
                        <div >Offer:</div>
                        <div class="payment-summary-money" id="offer"></div>
                        </div>
                        <div class="payment-summary-row">
                        <div>Shipping &amp; handling:</div>
                        <div class="payment-summary-money" id="shipping">${{shipping}}</div>
                        </div>
                        <div class="payment-summary-row subtotal-row">
                        <div>Total before tax:</div>
                        <div class="payment-summary-money" id="before_tax">${{ tax }}</div>
                        </div>
                        <div class="payment-summary-row">
                        <div>Estimated tax (5%):</div>
                        <div class="payment-summary-money" id="tax">${{tax}}</div>
                        </div>
                        <div class="payment-summary-row" id="discountDiv">
                        <div>Discount:</div>
                        <div class="payment-summary-money" id="discount"></div>
                    </div>
                        <div class="payment-summary-row total-row">
                        <div>Order total:</div>
                        <div class="payment-summary-money" id="grandtotal">${{grandtotal}}</div>
                        </div>

                      <form action="{% url 'place_order' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-block btn-golden" type="submit">Place Order</button>
                    </form>
                    </div>
                  </div>

            </div>
        </div>
   <!-- End Cart Table -->

    <!-- Start Coupon Start -->
    
<script>

async function updateOrderSummary() {
      try {
          const response = await fetch('/order-summary/');
          const data = await response.json();
        
        if (data.offer && parseFloat(data.offer) > 0) {
            document.getElementById('offer').innerText = `-$${data.offer}`;
        }else {
            document.getElementById('offerDiv').style.display       = 'none';
        }
        if (data.discount_amount && parseFloat(data.discount_amount) > 0) {
            document.getElementById('discount').innerText   = `-$${data.discount_amount}`;
        }else {
            document.getElementById('discountDiv').style.display    = 'none';
        }
          document.getElementById('total').innerText      = `$${data.total}`;
          document.getElementById('quantity').innerText   = `Subtotal (${data.quantity} items)`;
          document.getElementById('shipping').innerText   = `$${data.shipping}`;
          document.getElementById('before_tax').innerText = `$${parseInt(data.shipping) + parseInt(data.total)}`;
          document.getElementById('tax').innerText        = `$${data.tax}`;
          document.getElementById('grandtotal').innerText = `$${data.grandtotal}`;
      } catch (error) {
          console.error('Error fetching order summary:', error);
      }
  }
  updateOrderSummary();
</script>




{% endblock content %}