{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}

<style>
    #myform {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: solid 1px #e8e8e8; 
    box-sizing: border-box;
    border-radius: 5px;
    margin: 2%;
    color: #777777;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
input.qtyplus { width:30px; height:30px;}
input.qtyminus { width:30px; height:30px;}
</style>

<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Shop</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                <li class="active" aria-current="page">Product Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- Start Product Details Section -->
    <div class="product-details-section">
        <div class="container" id="dynamicContent">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="product-details-gallery-area product-details-gallery-area-vartical product-details-gallery-area-vartical-left"
                         >
                        <!-- Start Large Image -->
                        <div class="product-large-image product-large-image-vartical swiper-container ml-5">
                            <div class="swiper-wrapper">
                                
                                {% for image in images %}
                                <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                    <img src="{{ image.url }}" alt="">
                                </div>
                               {% endfor %}
                            
                            </div>
                        </div>
                        <!-- End Large Image -->
                        <!-- Start Thumbnail Image -->
                        <div class="product-image-thumb product-image-thumb-vartical swiper-container pos-relative">
                            <div class="swiper-wrapper">
                                {% for image in images %}
                                <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="{{ image.url }}"
                                        alt="" style="width: 80px;">
                                </div>
                                
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Thumbnail Image -->
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="product-details-content-area product-details--golden" 
                        >
                        <!-- Start  Product Details Text Area-->
                        {% for i in variants %}
                        <div class="product-details-text">
                            
                            <h4 class="title">{{i.get_product_name}} </h4>
                            
                            
                            <div class="d-flex align-items-center">
                                <ul class="review-star">
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="empty"><i class="ion-android-star"></i></li>
                                </ul>
                                <a href="#" class="customer-review ml-2">(customer review )</a>
                            </div>
                            {% if i.discounted_price != i.total_price %}
                            
                            <div class="price">{{i.discounted_price|floatformat:2}}</div><span style="font-size: 18px;"><del>{{ i.total_price }}</del></span><span style="font-size: 18px; color: red;">  -{{i.best_offer}}%</span>
                            {% else %}
                            <div class="price">₹{{i.total_price|floatformat:2}}</div>
                            <span style="font-size: 18px;">M.R.P :<del>₹{{i.mrp}} </del></span>
                            {% endif %}
                            <p>{{i.product.description}}</p>
                        </div>
                   
                        {% endfor %}
                        <!-- End  Product Details Text Area-->
                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <!-- <h4 class="title">Available Options</h4> -->
                            
                            
                            <!-- Product Variable Single Item -->
                            <div class="variable-single-item">
                                <div class="variable-single-item">
                                    <span>Colors</span>
                                    <select class="product-variable-size"  id="colorSelect" onchange="sendColorToBackend(this.value, document.getElementById('materialSelect').value)">
                                        <!-- onchange="sendColorToBackend('{{ i }}','{{ product_id }}')" -->
                                        {% for i in unique_colors %}
                                        <label for="product-color-{{ i|lower }}">
                                                    <option value="{{ i }}" {% if i in att_list %} selected {% endif %} >{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                

                            <div class="variable-single-item">
                                <span>Material</span>
                                <select class="product-variable-size" id="materialSelect" onchange="sendColorToBackend(document.getElementById('colorSelect').value, this.value)" >
                                    <!-- onchange="sendColorToBackend('{{ i }}','{{ product_id }}')" -->
                                    {% for i in unique_materials %}
                                                <option value="{{ i }}"  {% if i in att_list %} selected {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center " style='gap:20px;'>
                                <div class="variable-single-item ">
                                    <span>Quantity</span>
                                    <div id='myform' method='POST' class='quantity d-flex' action='#'>
                                        <input type='button' value='-' class='qtyminus minus' field='quantity' />
                                        <input type='text' name='quantity' value='1' class='qty' id="quantityInput" max='{{stock}}'/>
                                        <input type='button' value='+' class='qtyplus plus' field='quantity' />
                                    </div>
                                </div>
                                <div class="product-add-to-cart-btn">
                                   {% for i in variants %}
                                    <a href="{% url 'addtocart' slug=i.product_variant_slug %}" id="addToCartBtn">+ Add To Cart</a>
                                </div>
                            </div>
                            <!-- Start  Product Details Meta Area-->
                            <div class="product-details-meta mb-20">
                                <button class="add-to-wishlist-btn icon-space-right" data-variant-slug="{{ i.product_variant_slug }}">
                                    <i class="icon-heart"></i>
                                    Add to wishlist
                                </button>
                                <div class="variable-single-item">
                                    <div class="product-stock"> <span class="product-stock-in"><i
                                     class="ion-checkmark-circled"></i></span>{{stock}}</div>
                                </div>
                                    
                            </div>
                            <!-- End  Product Details Meta Area-->
                        </div>
                        <!-- End Product Variable Area -->                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Details Section -->

    <!-- Start Product Content Tab Section -->
    <div class="product-details-content-tab-section section-top-gap-100">
        <div class="container">
            <div class="row pb-2">
                <div class="col-12">
                    <div class="product-details-content-tab-wrapper"  >

                        <!-- Start Product Details Tab Button -->
                        <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                            <li><a class="nav-link active" data-bs-toggle="tab" href="#description">
                                    Description
                                </a></li>
                    
                        </ul> <!-- End Product Details Tab Button -->

                        <!-- Start Product Details Tab Content -->
                        <div class="product-details-content-tab">
                            <div class="tab-content">
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane active show" id="description">
                                    <div class="single-tab-content-item">
                                      {{i.product.description}}
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="review">
                                    <div class="single-tab-content-item">
                                        <!-- Start - Review Comment -->
                                        <ul class="comment">
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="{% static 'assets/images/user/image-1.png' %}" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name">Kaedyn Fraser</h6>
                                                                <ul class="review-star">
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i class="ion-android-star"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>

                                                        <div class="para-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                Tempora inventore dolorem a unde modi iste odio amet,
                                                                fugit fuga aliquam, voluptatem maiores animi dolor nulla
                                                                magnam ea! Dignissimos aspernatur cumque nam quod sint
                                                                provident modi alias culpa, inventore deserunt
                                                                accusantium amet earum soluta consequatur quasi eum eius
                                                                laboriosam, maiores praesentium explicabo enim dolores
                                                                quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam
                                                                officia, saepe repellat. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Start - Review Comment Reply-->
                                                <ul class="comment-reply">
                                                    <li class="comment-reply-list">
                                                        <div class="comment-wrapper">
                                                            <div class="comment-img">
                                                                <img src="{% static 'assets/images/user/image-2.png' %}" alt="">
                                                            </div>
                                                            <div class="comment-content">
                                                                <div class="comment-content-top">
                                                                    <div class="comment-content-left">
                                                                        <h6 class="comment-name">Oaklee Odom</h6>
                                                                    </div>
                                                                    <div class="comment-content-right">
                                                                        <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                                    </div>
                                                                </div>

                                                                <div class="para-content">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipisicing elit. Tempora inventore dolorem a
                                                                        unde modi iste odio amet, fugit fuga aliquam,
                                                                        voluptatem maiores animi dolor nulla magnam ea!
                                                                        Dignissimos aspernatur cumque nam quod sint
                                                                        provident modi alias culpa, inventore deserunt
                                                                        accusantium amet earum soluta consequatur quasi
                                                                        eum eius laboriosam, maiores praesentium
                                                                        explicabo enim dolores quaerat! Voluptas ad
                                                                        ullam quia odio sint sunt. Ipsam officia, saepe
                                                                        repellat. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul> <!-- End - Review Comment Reply-->
                                            </li> <!-- End - Review Comment list-->
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="{% static 'assets/images/user/image-3.png' %}" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name">Jaydin Jones</h6>
                                                                <ul class="review-star">
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i class="ion-android-star"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>

                                                        <div class="para-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                                Tempora inventore dolorem a unde modi iste odio amet,
                                                                fugit fuga aliquam, voluptatem maiores animi dolor nulla
                                                                magnam ea! Dignissimos aspernatur cumque nam quod sint
                                                                provident modi alias culpa, inventore deserunt
                                                                accusantium amet earum soluta consequatur quasi eum eius
                                                                laboriosam, maiores praesentium explicabo enim dolores
                                                                quaerat! Voluptas ad ullam quia odio sint sunt. Ipsam
                                                                officia, saepe repellat. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li> <!-- End - Review Comment list-->
                                        </ul> <!-- End - Review Comment -->
                                        <div class="review-form">
                                            <div class="review-form-text-top">
                                                <h5>ADD A REVIEW</h5>
                                                <p>Your email address will not be published. Required fields are marked
                                                    *</p>
                                            </div>

                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="default-form-box">
                                                            <label for="comment-name">Your name <span>*</span></label>
                                                            <input id="comment-name" type="text"
                                                                placeholder="Enter your name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="default-form-box">
                                                            <label for="comment-email">Your Email <span>*</span></label>
                                                            <input id="comment-email" type="email"
                                                                placeholder="Enter your email" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box">
                                                            <label for="comment-review-text">Your review
                                                                <span>*</span></label>
                                                            <textarea id="comment-review-text"
                                                                placeholder="Write a review" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-md btn-black-default-hover"
                                                            type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                            </div>
                        </div> <!-- End Product Details Tab Content -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Content Tab Section -->

   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');
   
    function sendColorToBackend(color,material) {
    console.log(color,material);

    // Assuming `id` is defined somewhere in your code
  // Replace with the actual product id

    // Use the URLSearchParams API to construct the query string
    var queryParams = new URLSearchParams({
        'selectedColor': color,
        'selectedMaterial': material
    });

    // Get the current URL
    // var currentURL = window.location.href;
    var currentURL = '/product/';

    // Append the query string to the current URL
    var urlWithQueryParams = `${currentURL}?${queryParams.toString()}`;

    // Make a fetch request to your backend API
    fetch(urlWithQueryParams, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({}),
    })
    .then(response => response.json())
    
    .then(data => {
        console.log(data);
        if (data.success) {


        const slug = data.slug;

  
        console.log(slug);

 
        window.location.href = `/product/${slug}/`;
    }else{
        Swal.fire({
        title: "Product Unavalable",
        // text: "That thing is still around?",
        icon: "error"
         });
    }


})
    .catch(error => {
        // Handle errors
        console.error('Error:', error); 
   
    });
}




document.getElementById('addToCartBtn').addEventListener('click', function () {
    var quantityInput = document.getElementById('quantityInput');
    var selectedQuantity = quantityInput.value;

    // Modify the href attribute to include the selected quantity
    var addToCartBtn = document.getElementById('addToCartBtn');
    addToCartBtn.href = addToCartBtn.href.split('?')[0] + '?quantity=' + selectedQuantity;

    console.log(selectedQuantity);
    console.log(quantityInput.value);
});
  
    </script>

   <script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.quantity').forEach(function(quantity) {
        quantity.addEventListener('click', function(event) {
            let input = this.querySelector('input.qty');
            let val = parseInt(input.value);
            let maxStock = parseInt(input.getAttribute('max')); // Get the maximum stock value from an attribute

            if(event.target.classList.contains('plus')) {
                // Check if the current value is less than the maximum stock
                if (val < maxStock) {
                    input.value = val + 1;
                } else {
                    // Optionally, you can provide feedback to the user that the maximum stock level has been reached
                    console.log('Maximum stock reached');
                }
            } else if(event.target.classList.contains('minus')) {
                if(val > 1) {
                    input.value = val - 1;
                }
            }
        });

        // Add input event listener for numeric validation
        quantity.querySelector('input.qty').addEventListener('input', function(event) {
            // Remove non-numeric characters from the input value
            this.value = this.value.replace(/\D/g, '');
        });
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.add-to-wishlist-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            var variantSlug = this.getAttribute('data-variant-slug');
            if (!{{ user.is_authenticated|lower }}) {
                var loginUrl = '/login/?next=/product/' + encodeURIComponent(variantSlug)+'/';
                window.location.href = loginUrl;
                return;
            }


            fetch('/add-wishlist/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ variant: variantSlug })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    showToast(data.message, "success");
                    setTimeout(function() {
                     window.location.reload();
                        }, 2500);
                } else {
                    console.error("Error:", data.message);
                    // Optionally, display error message to user
                }
            })
            .catch(error => {
                console.error("Fetch error:", error);
                // Optionally, handle fetch errors
            });
        });
    });
});

</script>
    
    {% endblock content %}