{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'assets/js/csrftkn.js' %}" ></script>
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Shop</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="active" aria-current="page">Shop</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Shop Section:::... -->

    <div class="shop-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-12">
                    <!-- Start Shop Product Sorting Section -->
                    <div class="shop-sort-section">
                        <div class="container">
                            <div class="row">
                                <!-- Start Sort Wrapper Box -->
                                <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                                   mb-4  >
                                    <div class="sort-tablist d-flex align-items-center">
                                        <ul class="tablist nav sort-tab-btn">
                                            <li><a class="nav-link active" data-bs-toggle="tab"
                                                    href="#layout-4-grid"><img src="{% static 'assets/images/icons/bkg_grid.png' %}"
                                                        alt=""></a>
                                            </li>
                                        </ul>
                                        <div class="page-amount ml-2">
                                            <span><b>{{ products_count }}</b> Items found</span>
                                        </div> <!-- End Page Amount -->
                                        <div class="d-flex"  style="flex-direction: column;justify-items: start; padding-left:10px ;">
                                            <!-- Add a button to toggle filter options visibility -->
                                            <button class="btn btn-block btn-golden p-2" id="toggleFilters"  style="max-width: 200px;min-width: 100px">Show/Hide Filters</button>
                                            <!-- Filter options section -->
                                            <form id='filterForm' method="get">
                                            <div id="filterOptions" style="display:none;align-items: top; justify-content: center;">
                                                <div class="sidebar-single-widget" >
                                                    <h6 class="sidebar-title">CATEGORIES</h6>
                                                    <div class="sidebar-content">
                                                        <ul class="filter-type-select">
                                                            {% for category in categories %}
                                                            <li>
                                                                <label class="checkbox-default">
                                                                    <input type="checkbox" name="category" value="{{category.id}}" {% if category.id in selected_category %} checked {% endif %} >
                                                                    <span>{{category}}</span>
                                                                </label>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
        
                                                <div class="sidebar-single-widget" >
                                                    <h6 class="sidebar-title">FILTER BY PRICE</h6>
                                                    <div class="sidebar-content">
                                                        <h5 class="w-25">Price</h5>
                                                        <div class="filter-type-price" style="flex-direction: column;">
                                                            <input class="form-control" type="number" name="min_price" placeholder="Min">
                                                            <input class="form-control mt-2" type="number" name="max_price" placeholder="Max">
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div class="sidebar-single-widget" >
                                                    <h6 class="sidebar-title">BRANDS</h6>
                                                    <div class="sidebar-content">
                                                        <div class="filter-type-select">
                                                            <ul>
                                                                {% for brand in brands %}
                                                                <li>
                                                                    <label class="checkbox-default">
                                                                        <input type="checkbox" name="brand" value="{{brand.id}}" {% if brand.id in selected_brand %} checked {% endif %}>
                                                                        <span>{{brand}}</span>
                                                                    </label>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div> 
                            
                                                <div class="sidebar-single-widget" >
                                                    <h6 class="sidebar-title">SELECT BY COLOR</h6>
                                                    <div class="sidebar-content">
                                                        <div class="filter-type-select">
                                                            <ul>
                                                                {% for color in colors %}
                                                                <li>
                                                                    <label class="checkbox-default">
                                                                        <input type="checkbox" name="color" value="{{color}}" {% if color.attribute_value in selected_color %} checked {% endif %}>
                                                                        <span>{{color}}</span>
                                                                    </label>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>        
                                            <button class="btn btn-golden"  type="submit">Apply Filters</button> 
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mr-2">Sort By:</label>
                                        
                                            <fieldset>
                                                <select name="sort_by">
                                                    <option value="" {% if not sort_by %} selected {% endif %}>Select option</option>
                                                    <option value="price_low_to_high" {% if sort_by == "price_low_to_high" %} selected {% endif %}>Sort by price: low to high</option>
                                                    <option value="price_high_to_low" {% if sort_by == "price_high_to_low" %} selected {% endif %}>Sort by price: high to low</option>
                                                    <option value="newest" {% if sort_by == "newest" %} selected {% endif %}>Sort by newness</option>
                                                    <option value="oldest" {% if sort_by == "oldest" %} selected {% endif %}>Sort by oldest</option>
                                                    <option value="a_z" {% if sort_by == "a_z" %} selected {% endif %}>Sort by product name: A to Z</option>
                                                    <option value="z_a" {% if sort_by == "z_a" %} selected {% endif %}>Sort by product name: Z to A</option>
                                                    <!-- <option value="discount" {% if sort_by == "discount" %} selected {% endif %}>Sort by discount</option>
                                                    <option value="rating" {% if sort_by == "rating" %} selected {% endif %}>Sort by rating</option> -->
                                                </select>                                                                                              
                                            </fieldset>
                                        </form>
                                    </div>
                                </div> <!-- Start Sort Wrapper Box -->
                            </div>
                        </div>
                    </div> <!-- End Section Content -->

                    <!-- Start Tab Wrapper -->
                    <div class="sort-product-tab-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content">
                                        <!-- Start Grid View Product -->
                                        <div class="tab-pane active show sort-layout-single" id="layout-4-grid">
                                            <div class="row">
                                                {% for product in products %}
                                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                                    <!-- Start Product Default Single Item -->
                                                    <div class="product-default-single-item product-color--golden"
                                                       mb-4  >
                                                        <div class="image-box">
                                                
                                                            <a href="{% url 'product_detail' slug=product.product_variant_slug %}" class="image-link">
                                                                <img src="{{ product.thumbnail_image.url }}"
                                                                    alt="">
                                                                <img src="{{ product.thumbnail_image.url }}"
                                                                    alt="">
                                                            </a>
                                                            {% if product.discounted_price != product.total_price %}
                                                            <div class="tag">
                                                                <span>{{product.best_offer|floatformat:0}}% Off</span>
                                                            </div>
                                                            {% endif %}
                                                            <div class="action-link">
                                                                <div class="action-link-left">
                                                                    <a href="{% url 'addtocart' slug=product.product_variant_slug %}"   >Add To Cart</a>
                                                                </div>
                                                                <div class="action-link-right">
                                                                    <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#modalQuickview"><i
                                                                            class="icon-magnifier"></i></a>
                                                                    <a class="add-to-wishlist"  data-variant-slug="{{ product.product_variant_slug }}"><i
                                                                            class="icon-heart"></i></a>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="content-left">
                                                                <h6 class="title"><a
                                                                        href="{% url 'product_detail' slug=product.product_variant_slug %}">{{ product.get_product_name }}</a></h6>
                                                                <ul class="review-star">
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i class="ion-android-star"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="content-right">
                                                                {% if product.discounted_price != product.total_price %}
                                                                <span class="price">${{ product.discounted_price|floatformat:0 }}</span>
                                                                <span class="price"> <del>${{ product.total_price|floatformat:0 }}</del></span>
                                                                {% else %}
                                                                <span class="price">${{ product.total_price|floatformat:0 }}</span>
                                                                {% endif %}
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- End Product Default Single Item -->
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div> <!-- End Grid View Product -->
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Tab Wrapper -->

                    <!-- Start Pagination -->
                    <div class="page-pagination text-center mb-4" >
                        <ul>
                            {% if products.has_previous %}
                                <li><a href="?page={{ products.previous_page_number }}"><i class="ion-ios-skipbackward"></i></a></li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li><a class="active" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li><a href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <li><a href="?page={{ products.next_page_number }}"><i class="ion-ios-skipforward"></i></a></li>
                            {% endif %}
                        </ul>
                    </div> <!-- End Pagination -->
                </div> <!-- End Shop Product Sorting Section  -->
            </div>
        </div>
    </div> <!-- ...:::: End Shop Section:::... -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.add-to-wishlist').forEach(function(button) {
        button.addEventListener('click', function() {
            var variantSlug = this.getAttribute('data-variant-slug');

            fetch('/add-wishlist/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ variant: variantSlug }) // Send variant slug in JSON format
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === "success") {
                    
                    console.log("Item added to wishlist successfully");
                    showToast(data.message,'success')
                    // Optionally, update UI to reflect item added to wishlist
                } else {
                    console.error("Error:", data.message);
                    // Optionally, display error message to user
                }
            })
            .catch(error => {
                console.error("Fetch error:", error);
                // Optionally, handle fetch errors
            });
        });
    });
});

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Toggle filter options visibility when button is clicked
            $('#toggleFilters').click(function () {
                $('#filterOptions').toggle();
                if ($('#filterOptions').is(":visible")) {
                // If yes, set display to flex
                $('#filterOptions').css("display", "flex");
            }
            });
        });


        filterForm.addEventListener('submit', function (event) {
    event.preventDefault();
    
    const formData = new FormData(filterForm);
    console.log(formData);
    const params = new URLSearchParams(formData);

    const currentUrl = new URL(window.location.href);

    // Remove existing filter parameters
    currentUrl.searchParams.forEach((value, key) => {
        currentUrl.searchParams.delete(key);
    });
    
    // Append the new filter parameters
   currentUrl.search = `${currentUrl.search ? currentUrl.search + '&' : ''}${params.toString()}`;


    window.location.href = currentUrl.toString();
});


    </script>
    
    {% endblock content %}