{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">My Coupon</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden" >
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'myaccount' %}">My Account</a></li>
                                    <li class="active" aria-current="page">Coupon</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->


<h1>Available Coupons</h1>
<ul>
    {% for user_coupon in coupons %}
        <li>{{ user_coupon.coupon_code }}</li>

    {% endfor %}
</ul>

{% endblock content %}