{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}
<!-- Add these links to your HTML head to include Bootstrap CSS and JS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>



<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">My Address</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'myaccount' %}">Account</a></li>
                                <li class="active" aria-current="page">Address</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->


<div class="container p-3">
    <div>
        <p>The following addresses will be used on the checkout page by default.</p>
        <ul class="d-flex flex-column justify-content-center">
            <!-- Single Address Start -->
            {% for i in address %}
            <li class="d-flex flex-row p-2" style="width: 200px;border: #000000 20px;">
                <label for="address-{{ i.id }}" class="d-flex ">
                    <div class="flex-column">
                        <div class="d-flex flex-row px-3 align-content-center " style="width: 400px;">
                            <input type="radio" class="address-radio" onchange="sweet_alert('{{ i.id }}')" id="address-{{ i.id }}"style="width: 25px; height: 16px;position: relative;bottom: -15px" name="address" value="{{ i.id }}" {% if i.is_default %}checked{% endif %} />
                            <div class="col pl-2">

                                <h5>{{i.first_name}} {{i.last_name}}</h5>
                                <div class="col">
                                    <span>{{i.street_address}}</span>,
                                    <span>{{i.town_city}}</span>,
                                    <span>{{i.state}}</span>,
                                    <span>{{i.country_region}}</span>,
                                    <span>{{i.zip_code}}</span>
                                </div>
                                <span>{{i.phone_number}}</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </label>
                <div class="btn d-flex px-3 align-items-center" onclick="delete_add('{{ i.id }}')"><i class="fa-duotone fa-trash" style="--fa-primary-color: #b19561; --fa-secondary-color: #b19561;font-size: 25px;"></i></div>
            </li>
            {% endfor %}
            <!-- Single Address End  -->
        </ul>

        <hr>
        <div class="btn p-4 ml-2 mb-1"><a href="{% url 'addaddress' %}" style="color: #b19561;"><i
                    class="fa-solid fa-plus" style="color: #b19561; width: 20px;"></i> Add New
                Address</a> </div>

    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script>

    function sweet_alert(){
         Swal.fire({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Yes, delete it!"
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire({
      title: "Deleted!",
      text: "Your file has been deleted.",
      icon: "success"
    });

     
     
  }
});
    }

   
</script> -->

<script>
    function delete_add(addressId){

        fetch(`/myaccount/delete-address/?id=${addressId}`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        // Other headers as needed
    },
})
    .then(response => response.json())
    .then(data => {
        // Handle the response data
        console.log(data);
    })
    .catch(error => {
        // Handle errors
        console.error('Error:', error);
    });

    }
    

function sweet_alert(addressId) {
    Swal.fire({
        title: "Are you sure?",
        text: "Make this your default address",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#b19361",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
    }).then((result) => {
        // If the user confirms
        console.log(addressId);
        if (result.isConfirmed) {
            // Make a fetch request to update is_default in the backend
            fetch('/myaccount/my-address/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                },
                // body: JSON.stringify({ 'addressId':addressId }),
                body: JSON.stringify({ 'addressId':addressId }),
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the server
                    console.log(data);
                    if (data.success) {
                        // Success message
                        Swal.fire('Success', data.message, 'success');
                    } else {
                        // Error message
                        Swal.fire('Error', data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle other errors
                    Swal.fire('Error', 'An unexpected error occurred', 'error');
                });
        }
    });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if the cookie name matches the provided name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
{% endblock content %}