{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Order</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden" >
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'myaccount' %}">My Account</a></li>
                                <li class="active" aria-current="page">My Order</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<div class=" container col-sm-12 col-md-9 col-lg-9 p-4 mb-3">
    <!-- <div class="tab-pane justify-content-center" id="orders">
    <h4 class="justify-content-center">Orders</h4> -->
    <div class="table_page table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Total</th>
                    <th>Order Placed</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders  %}
                <tr>
                    
                    <td class="d-flex justify-content-center align-content-center">
                    {{ order.item_count }} items
                    </td>
                    
                    <td>Rs. {{ order.order_total }}</td>
                    <td>{{ order.created_at|date:"j M Y" }}</td>
                    {% if order.order_status == "New" %}
                        <td>New</td>
                    {% elif order.order_status == "Pending" %}
                        <td>Pending</td>
                    {% elif order.order_status == "Delivered" %}
                        <td>Delivered</td>
                    {% elif order.order_status == "Shipped" %}
                        <td>Shipped</td>
                    {% elif order.order_status == "Cancelled" %}
                    <td>Cancelled</td>
                    {% elif order.order_status == "Returned" %}
                        <td>Returned</td>
                    {% endif %}
                    <td><a href="cart.html" class="view">{{order.order_number}}</a></td>
                    <td>
                        {% if order.order_status == 'Delivered' %}
                        <a href="#" class="return-order" data-order-id="{{ order.id }}" data-order-created-at='{{ order.created_at|date:"Y-m-d\TH:i:s" }}'>Return</a>
                        {% elif order.order_status == 'Cancelled' %}
                        <a href="" class="view">Cancelled</a>
                        {% elif order.order_status == 'Returned' %}
                        <a href="" class="view">Returned</a>
                        {% else %}
                        <a href="#" class="view" onclick="cancelOrderConfirmation('{{ order.id }}')">Cancel</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<style>
        .return-button-class {
        color: #b19361; /* Change the color as desired */
        /* Add any other styles you want */
    }

</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.return-order').forEach(item => {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                const orderId = this.dataset.orderId;
                const returnDateStr = this.dataset.orderCreatedAt;
                console.log(returnDateStr);
                const returnDate = new Date(returnDateStr);

                const currentDate = new Date();
                const daysDiff = Math.floor((currentDate - returnDate) / (1000 * 60 * 60 * 24));
                console.log(daysDiff,orderId,returnDate,currentDate);
                if (daysDiff <= 7) {
                    Swal.fire({
                        title: 'Return Order',
                        text: 'Are you sure you want to return this order?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, return it',
                        cancelButtonText: 'No, keep it',
                        customClass: {
                        confirmButton: 'return-button-class'
                    }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Perform the return action
                            window.location.href = '{% url "cancel_order" %}?order_id=' + orderId;
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Return Order',
                        text: 'You can only return the order within 7 days of purchase.',
                        icon: 'warning',
                        confirmButtonText: 'Got it'
                    });
                }
            });
        });
    });
</script>



<script>
function cancelOrderConfirmation(orderId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Do you want to cancel the order?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No',
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'cancel_order' %}?order_id=" + orderId;
        }
    });
}
</script>


{% endblock content %}