{% extends 'store_templates/base.html' %}
{% load static %}
{% block content %}
<style>
    #form {
    width: 524px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 12px;
}

#form h3 {
    color: #0f2027;
    text-align: center;
}
#form h5 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}


</style>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Register</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden" >
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Verification</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row justify-content-between mb-4 flex-column align-items-center" >
               
                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register  " data-aos="fade-up" data-aos-delay="200">
                        
                      
                        <form method="post" id="form" action="{% url 'verif_forget_password' %}"  style="margin-top: 20px;">
                            {% csrf_token %}<h3>Forget Password</h3>
                            <h5>
                                <span>Enter the OTP sent to {{email}}</span>
                            </h5>
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
                                <div class="default-form-box input-control" style=" position: relative;margin-top: 15px;width: 300px;flex-wrap: wrap;align-items: center; justify-content: center;">
                                    <input type="text"   name="enteredotp" placeholder="Your OTP" autocomplete="off" required style="display: flex; width: 300px;background: transparent;outline: none; padding: 0px 20px;position: relative; z-index: 10;font-size: 14px;" >
                                    {% if messages %}
                                    {% for message in messages %}
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- <div class="default-form-box input-control" style=" position: relative;margin-top: 15px;width: 300px;flex-wrap: wrap;align-items: center; justify-content: center;">
                                    <input name='email' value='{{email}}' >
                                </div> -->
                                <div class="login_submit"style="display:flex ;width: 300px; position: relative;margin-top: 15px;align-items: center; justify-content: center; ">
                                    <button class="btn  btn-black-default-hover "   type="submit">Verify</button>
                                </div>
                            </div>
                            
                            
                            <div class="mt-4 d-flex justify-content-center"><h4>Already have an account? <a href="{% url 'userlogin' %}" class="text-decoration-none">Login</a></h4></div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->

    {% endblock content %}