{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Banner List</h2>
            
        </div>
        <div>
            <a href="{% url 'add-banner' %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            {% for i in banner %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src="{{ i.banner_image.url }}" class="img-sm img-thumbnail" alt="Item">
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{i.banner_name}}</h6>
                            </div>  
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price">
                        <div class="info">
                            <span class="mb-0">{{i.banner_name_sub}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price">
                        <div class="info">
                            <span class="mb-0">{{i.button_text}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <span class="badge rounded-pill alert-primary">{{i.banner_url}}</span>
                    </div>
                    
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <a href="{% url 'edit-banner' %}?id={{i.id}}" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-edit"></i> Edit
                        </a>
                        <a href="{% url 'delete-banner' %}?id={{i.id}}" class="btn btn-sm font-sm alert-danger rounded">
                            <i class="material-icons md-delete_forever"></i>
                        </a>
                    </div>
                </div> 
            </article>
            {% endfor %}
        </div> 
    </div>
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if atributes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ atributes.previous_page_number }}"><i
                            class="material-icons md-chevron_left"></i></a></li>
                {% endif %}
                {% for i in atributes.paginator.page_range %}
                {% if atributes.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if atributes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ atributes.next_page_number }}"><i
                            class="material-icons md-chevron_right"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>


{% endblock content %}