{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                <div>
                    <a href="{% url 'create_product' %}" class="btn btn-primary btn-sm rounded">Add new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <!-- <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div> -->
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    {% for product in products %}


                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-1 col-4 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="{{ product.products.thumbnail_image.url.first }}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <a href="{% url 'all-variant-product' product_id=product.id %}"><h6 class="">{{product.product_name}}</h6></a>  
                                        <span>{{product.category}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>{{product.brand.brand_name}}</span> </div>
                            {% if product.is_available   == True %}
                            <div class="col-lg-1 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">Active</span>
                            </div>
                            {% else %}
                            <div class="col-lg-1 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-danger">Blocked</span>
                            </div>
                            {% endif %}
                            <div class="col-lg-2 col-sm-2 col-4 col-date">
                                <span>{{product.created_date|date:"j M Y" }}</span>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-action text-end">
                               
                                {% if product.is_available   == True %}
                                <a   href="{% url 'unlist-product' product_id=product.id %}"  class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                                    Unlist
                                </a>
                                {% else %}
                                <a   href="{% url 'list-product' product_id=product.id %}" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                                    List
                                </a>
                                {% endif %}
                               
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end"> 
                                <a href="{% url 'edit_product' %}?product_id={{product.id}}" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                               
                            </div>
                        </div>
                    </article>






                            
                    {% endfor %}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i class="material-icons md-chevron_left"></i></a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"><i class="material-icons md-chevron_right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

<!-- 
        <script>
            // Add this script to your HTML template or a separate JS file
        
           
                var base_url = "{% url 'adminhome' %}";
        
                $('.block-user-btn').click(function () {
                    var productId = $(this).data('product-id');
        
                    $.ajax({
                        url: base_url + 'deactivateproduct/' + productId + '/',
                        type: 'GET',  // You can use POST if needed
                        success: function (response) {
                            // alert('deac');
                            // console.log('hi');
                            location.reload();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
        
                $('.unblock-user-btn').click(function () {
                    var productId = $(this).data('product-id');
                    $.ajax({
                        url: base_url + 'activateproduct/' + productId + '/',
                        type: 'GET',  // You can use POST if needed
                        success: function (response) {
                            alert("active");
                            location.reload();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            
        
        
           
        
        </script> -->
        {% endblock content %}