{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Attribute Value</h2>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body  w-100  justify-content-center">
            <div class="row d-flex justify-content-center align-items-center">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="font--bold font-xxl">Attribute</th>
                            <th scope="col" class="font--bold font-xxl">Attribute Value</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for atribute in atribute_values %}
                        <tr>

                            <td>{{atribute.attribute.attribute_name}}</td>
                            <td>{{atribute.attribute_value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div> <!-- card-body end// -->
        </div>
    </div><!-- card end// -->
        
</section> <!-- content-main end// -->
{% endblock content %}