{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Attribute</h2>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body  w-100  justify-content-center">



            <div class="row d-flex justify-content-center align-items-center">

                <table class="table">
                    <thead >
                        <tr class="d-flex justify-content-center" >
                            <th class="font--bold font-xxl">Attribute</th>
                            <!-- <th>Description</th>
                            <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for atribute in atributes %}
                        <tr class="d-flex justify-content-center" >
                            <td >
                                <h6 class="">{{atribute.attribute_name}}</h6>  
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- card-body end// -->
        </div>
    </div>
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    {% if atributes.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ atributes.previous_page_number }}"><i
                                class="material-icons md-chevron_left"></i></a></li>
                    {% endif %}
                    {% for i in atributes.paginator.page_range %}
                    {% if atributes.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if atributes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ atributes.next_page_number }}"><i
                                class="material-icons md-chevron_right"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
</section> <!-- content-main end// -->
{% endblock content %}