{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'assets/js/csrftkn.js' %}" type="text/javascript"></script>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category Offers</h2>
                </div>
                <div>
                    <a href="{% url 'create_category_offer' %}" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    {% for category_offer in category_offers %}
    <article class="itemlist">
        <div class="row align-items-center">
            <div class="col col-check flex-grow-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                <a class="itemside" href="#">
                    <div class="left">
                        <img src="{{ category_offer.category_offer_image.url }}" class="img-sm img-thumbnail" alt="Category Offer Image">
                    </div>
                    <div class="info">
                        <h6 class="mb-0">{{ category_offer.offer_name }}</h6>
                        <span>{{ category_offer.category }}</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>{{ category_offer.expire_date|date:'d M Y' }}</span> </div>
            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>{{ category_offer.discount_percentage }} %</span> </div>
            <!-- Add other fields related to category offers here -->
            <div class="col-lg-2 col-sm-2 col-2 col-status" style="width: 30px;">
                {% if  category_offer.is_active %}
                <span class="badge rounded-pill alert-success">Active</span>
                {% else %}
                <span class="badge rounded-pill alert-danger">Blocked</span>    
                {% endif %}
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                {% if category_offer.is_active %}
                <button onclick="toggleCategoryOffer('{{ category_offer.id }}')" class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                    Unlist
                </button>
                {% else %}
                <button onclick="toggleCategoryOffer('{{ category_offer.id }}')" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                    List
                </button>
                {% endif %}
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end"> 
                <a href="{% url 'edit_category_offer' %}?id={{category_offer.id}}" class="btn btn-sm font-sm rounded btn-brand">
                    <i class="material-icons md-edit"></i> Edit
                </a>
                <!-- Add delete button or any other action buttons here -->
            </div>
        </div> <!-- row .// -->
    </article> <!-- itemlist  .// -->
    {% endfor %}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {% if category_offers.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i class="material-icons md-chevron_left"></i></a></li>
                        {% endif %}
                        {% for i in category_offers.paginator.page_range %}
                                {% if category_offers.number == i %}
                                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% if category_offers.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"><i class="material-icons md-chevron_right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

        <script>
            function toggleCategoryOffer(offerId) {
    fetch(`/admin/toggle_category_offer/?id=${offerId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken':  csrftoken
        }
    })
    .then(response => {
        if (response.ok) {
            // Handle success, if needed
            console.log('Category offer status toggled successfully');
        } else {
            // Handle errors
            console.error('Failed to toggle category offer status');
        }
    })
    .catch(error => {
        console.error('Error toggling category offer status:', error);
    });
}
        </script>
        {% endblock content %}