{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Attribute</h2>

        </div>
        <div>
            <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a> -->
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">

                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3 ">
                    <form class="searchform">
                        <div class="input-group" style="width: 350px;">
                            <input type="text" class="form-control" placeholder="Search">
                            <button class="btn btn-light bg" type="button"> <i
                                    class="material-icons md-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-6">
                    <input type="date" value="02.05.2021" class="form-control">
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body  w-100  justify-content-center">



            <div class="row d-flex justify-content-center align-items-center">

                <table class="table">
                    <thead >
                        <tr class="d-flex justify-content-center" >
                            <th class="font--bold font-xxl">Attribute</th>
                            <!-- <th>Description</th>
                            <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for atribute in atributes %}
                        <tr class="d-flex justify-content-center" >
                            <td >
                            
                                        <h6 class="">{{atribute.attribute_name}}</h6>
                                   
                            </td>
                            <!-- <td>
                                <div class="col-price"> <span>{{category.description}}</span> </div>
                            </td> -->
                            <!-- <td>
                                <a href="" class="btn btn-danger">Deactivate</a>
                                <a href="" class="btn btn-success">Activate</a>
                            </td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
</section> <!-- content-main end// -->
{% endblock content %}