{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Product Variants List</h2>
                </div>
                <div>
                    <a href="{% url 'add_product_variant' %}" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                       
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    {% for i in product_variant %}
                    <article class="itemlist">
                        <div class="row align-items-center">
                            
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="{{ i.thumbnail_image.url }}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">{{i.get_product_name}}</h6>
                                        <span>{{i.product_variant_slug}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>{{i.max_price|floatformat:0}}</span> </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>{{i.sale_price|floatformat:0}}</span> </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>{{i.stock}}</span> </div>
                            <div class="col-lg-2 col-sm-2 col-2 col-status" style="width: 30px;">
                                {% if i.is_active   == True %}
                                <span class="badge rounded-pill alert-success">Active</span>
                                {% else %}
                                <span class="badge rounded-pill alert-danger">Blocked</span>    
                                {% endif %}
                            </div>
                           

                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                
                                {% if i.is_active == True %}
                                <button onclick="toggleProductVariant('{{ i.id }}')" class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                                    Unlist
                                </button>
                            {% else %}
                                <button onclick="toggleProductVariant('{{ i.id }}')" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                                    List
                                </button>
                            {% endif %}
                        </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end"> 
                                <a href="{% url 'edit_product_variant' product_id=i.id %}" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <!-- <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a> -->
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    {% endfor %}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {% if product_variant.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ product_variant.previous_page_number }}"><i class="material-icons md-chevron_left"></i></a></li>
                        {% endif %}
                        {% for i in product_variant.paginator.page_range %}
                                {% if product_variant.number == i %}
                                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% if product_variant.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ product_variant.next_page_number }}"><i class="material-icons md-chevron_right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->


        <script>
      function toggleProductVariant(id) {
    // Make an asynchronous request to toggle_product_variant endpoint
    fetch(`/admin/toggle-product/${id}/`)
        .then(response => response.json())
        .then(data => {
            // Check the response status and handle accordingly
            if (data.status === 'success') {
                // Redirect to the all_variant_product view with the same product ID
                window.location.href = `/admin/all-variant-product/${data.product_id}/`;
            } else {
                // Handle any error or display a message to the user
                console.error(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
        </script>
        {% endblock content %}