{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Edit New Product</h2>

            </div>
        </div>
        <!-- Add new product form  -->
        <form method="POST" action="{% url 'edit_product' %}?product_id={{products.id}}" id="productForm">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_title" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" name="product_title" value="{{products.product_name}}" class="form-control"
                                id="product_title">
                        </div>
                        <div class="row gx-3">
                            <div class="col-md-4  mb-3">
                                <label class="form-label">category</label>

                                <select class="form-select" name="category_id">
                                    {% for i in category %}
                                        <option value="{{ i.id }}" {% if i.id == products.category.id %}selected{% endif %}>{{ i.category_name }}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                            <div class="col-md-4  mb-3">
                                <label class="form-label">Brand</label>
                                <select class="form-select" name="Brand">
                                    {% for i in brand %}
                                        <option value="{{ i.id }}" {% if i.id == products.brand.id %}selected{% endif %}>{{ i.brand_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label class="form-label">Price</label>
                                <input type="text" placeholder="Type here" name="price" value="{{products.base_price}}" class="form-control"
                                id="price">
                            </div>
                        </div>
                        <div>
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4"
                            name="description" >{{products.description}}</textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn  btn-md m-2 rounded font-sm hover-up"
                            style="margin-left: 20px;">Edit </button>
                        </div>
                    </div>
                        
                    </div>
            </div>
        </form>
    </div>
</section>
<script>
   document.getElementById('productForm').addEventListener('submit', function(event) {
    const priceInput = document.getElementById('price');
    const priceError = document.getElementById('priceError');
    const price = parseFloat(priceInput.value);

    if (price < 0) {
        showToast("Price cannot be negative", "error");
        event.preventDefault();
    } else {
        priceError.textContent = ''; // Clear error message if price is valid
    }
});
</script>
{% endblock content %}