{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <form method="POST" action="" enctype="multipart/form-data" id="productForm">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Product</label>
                            <select class="form-select" name="product">
                                {% for product in products %}
                                <option value="{{product.id}}">{{product.product_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">SKU ID</label>
                            <input type="text" placeholder="Type here" class="form-control" name="sku_id" value="{{old_product.sku_id}}">
                        </div>
                        <div class="row gx-3">
                            {% for attribute_name, attribute_values in attribute_dict.items %} 
                            <!-- <option>{{atribute}}</option> -->
                            <div class="col-md-4  mb-3">
                                <label class="form-label">{{attribute_name}}</label>
                                <select class="form-select" name="attributes">
                                    <option value="">----------</option>
                                    {% for value in attribute_values %}
                                    {% if value.attribute_value in attr %}
                                    <option value="{{ value.id }}" selected>{{ value.attribute_value }}</option>
                                    {% else %}
                                    <option value="{{ value.id }}">{{ value.attribute_value }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row gx-3">

                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Max Price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="max_price"
                                    name="max_price" value="{{old_product.max_price}}">
                            </div>


                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Additional price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="sale_price"
                                    name="sale_price" value="{{old_product.sale_price}}">
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Stock</label>
                                <input type="text" placeholder="Type here" class="form-control" id="stock"
                                    name="stock" value="{{old_product.stock}}">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                    
                                <div class="input-upload">
                                    
                                    <img src="{{old_product.thumbnail_image.url}}" alt="">
                                    <input class="form-control" type="file" name="thumbnail_image" onchange="previewImages(event),validateImage(this)" accept="image/*">
                                    <label class="form-label">Thumbnail-Images</label>
                                </div>
                               
                        </div>
                        <div class="card-body">
                                <div class="input-upload">
                                    {% if old_product.additional_product_images.all %}
                                        {% for image in old_product.additional_product_images.all %}
                                    <img src="{{image.image.url}}" alt="">
                                        {% endfor %}
                                    {% endif %}
                                    <input class="form-control" type="file" name="product_image" id="product_image"
                                    multiple onchange="previewImages(event),validateImage(this)" accept="image/*">
                                    <label class="form-label">Product-Images</label>
                                    <div id="imagePreviewContainer"></div>
                                </div>
                        </div>
                        <div>
                            <button class="btn  btn-md rounded font-sm hover-up" style="margin-left: 20px;">Edit
                            </button>
                        </div>
                    </div> <!-- card end// -->
                </div> <!-- card end// -->
            </div>
        </form>
    </div>
</section>

<script>
function previewImages(event) {
    const input = event.target;
    const previewContainer = document.getElementById('imagePreviewContainer');
    
    previewContainer.innerHTML = '';  // Clear previous preview

    if (input.files) {
        for (const file of input.files) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '100px';  // Adjust the width as needed
                img.style.maxHeight = '100px';  // Adjust the height as needed

                previewContainer.appendChild(img);
            };

            reader.readAsDataURL(file);
        }
    }
}

document.getElementById('productForm').addEventListener('submit', function(event) {
    const maxPriceInput = document.getElementById('max_price');
    const salePriceInput = document.getElementById('sale_price');
    const stockInput = document.getElementById('stock');

    const maxPrice = parseInt(maxPriceInput.value);
    const salePrice = parseInt(salePriceInput.value);
    const stock = parseInt(stockInput.value);

    if (isNaN(maxPrice) || maxPrice < 0) {
        showToast('Max price must be a positive integer', "error");
        event.preventDefault();
    }
    if (isNaN(salePrice) || salePrice < 0) {
        showToast('Additional price must be a positive integer', "error");
        event.preventDefault();
    }
    if (isNaN(stock) || stock < 0) {
        showToast('Stock must be a positive integer', "error");
        event.preventDefault();
    }
});

</script>

 
{% endblock content %}