{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: {{order.order_number}}</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{ order.created_at|date:"D, M j, Y, g:iA" }}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{order.order_number|slice:"14:"}}</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end ">
                            <select id="status-select" data-order_id="{{order.id}}" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                {% for status in order_status %}
                                    <option {% if status.0 == order.order_status %}selected{% endif %}>{{ status.1 }}</option>
                                {% endfor %}
                            </select>
                            <a id="save-btn" class=" btn btn-primary">Save</a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <h5 class="mb-1">
                                        {{order.user.get_usernme}} <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> +91 {{order.shipping_address.phone_number}}
                                    </h5>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                     Pay method:  {{order.payment.payment_method}} <br> Status: {{order.order_status}}
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        {{order.shipping_address.first_name}} {{order.shipping_address.last_name}} <br>
                                        {{order.shipping_address.town_city}}, {{order.shipping_address.state}} <br>
                                        {{order.shipping_address.street_address}}<br>
                                        {{ order.shipping_address.country_region }} {{order.shipping_address.zip_code}}
                                    </p>
                                    <a href="{% url 'user_details' %}?user_id={{ order.user.id }}">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in order_products %}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="{{product.images.url}}" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info">{{product.product_variant}}</div>
                                                </a>
                                            </td>
                                            <td> ${{product.product_price}}</td>
                                            <td>{{product.quantity}}</td>
                                            <td class="text-end"> ${{product.total_price}} </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>$973.35</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>$100.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">${{order.order_total}}</b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
             function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');




            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('save-btn').addEventListener('click', function() {
                    var statusSelect = document.getElementById('status-select');
                    var newStatus = statusSelect.value;
                    const orderId = statusSelect.dataset.order_id;
                    console.log(orderId,newStatus);
                    // Prepare the request body
                    var data = {
                        order_id: orderId,
                        new_status: newStatus
                    };
        
                    // Send the AJAX request
                    fetch('{% url "update_order_status" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify(data),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to update order status');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle success response
                        console.log('Order status updated successfully');
                        Swal.fire({
                    icon: 'success',
                    title: 'Saved',
                    showConfirmButton: false,
                    timer: 1000
                }); 
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error:', error);
                    });
                });
            });
        </script>
        
        {% endblock content %}