<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>
    <style>
        @page {
            size: A4;
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;

            @top-center {
                content: 'Home Decor';
            }
        }
    </style>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="align-middle" scope="col">Order ID</th>
                    <th class="align-middle" scope="col">Billing Name</th>
                    <th class="align-middle" scope="col">Date</th>
                    <th class="align-middle" scope="col">Products</th>
                    <th class="align-middle" scope="col">Quantity</th>
                    <th class="align-middle" scope="col">Total</th>
                    <th class="align-middle" scope="col">Status</th>
                    <th class="align-middle" scope="col">Payment Method</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% for order_product in order.order_products.all %}
                <tr>
                    {% if forloop.first %}
                    <td rowspan="{{ order.order_products.count }}" class="fw-bold"><span>{{ order.order_number|slice:"14:"}}</span></td>
                    <td rowspan="{{ order.order_products.count }}"><b>{{ order.user.get_username }}</b></td>
                    <td rowspan="{{ order.order_products.count }}">{{ order.created_at|date:"j M Y" }}</td>
                    {% endif %}
                    <td>
                        <h5><a>{{ order_product.product_variant }}</a></h5>
                    </td>
                    <td class="quantity" data-title="Quantity"><span>{{ order_product.quantity }}</span></td>
                    {% if forloop.first %}
                    <td rowspan="{{ order.order_products.count }}">${{ order.order_total }}</td>
                    <td rowspan="{{ order.order_products.count }}">
                        {% for choice in order.ORDER_STATUS_CHOICES %}
                        {% if order.order_status == choice.0 %}
                        <span class="badge rounded-pill
                                            {% if choice.0 == 'New' %} alert-primary
                                            {% elif choice.0 == 'Pending' %} alert-warning
                                            {% elif choice.0 == 'Delivered' %} alert-success
                                            {% elif choice.0 == 'Shipped' %} alert-secondary
                                            {% elif choice.0 == 'Cancelled' %} alert-danger
                                            {% elif choice.0 == 'Returned' %} alert-info
                                            {% endif %}">
                            {{ choice.1 }}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td rowspan="{{ order.order_products.count }}">
                        {% if order.payment.payment_method.method_name == 'Razorpay' %}
                        <i class="material-icons md-payment font-xxl text-muted mr-5"></i>Razorpay
                        {% elif order.payment.payment_method.method_name == 'Cash On Delivery' %}
                        <i class="material-icons md-payments font-xxl text-muted mr-5"></i>COD
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
