{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Sale Report </h2>
    </div>
    <div>
     
    <!-- <a href="{% url 'download_pdf' %}" class="btn btn-md rounded font-sm hover-up">Download PDF</a> -->
    <a href="{% url 'download_excel' %}" class="btn btn-md rounded font-sm hover-up">Download Excel</a>
    <a href="{% url 'download_csv' %}" class="btn btn-md rounded font-sm hover-up">Download CSV</a>
    </div>
  </div>
  <div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <!-- <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control">
        </div> -->
        <!-- <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div> -->
        <!-- <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Show 20</option>
            <option>Show 30</option>
            <option>Show 40</option>
          </select>
        </div> -->
      </div>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="align-middle" scope="col">Date</th>
              <th class="align-middle" scope="col">Orders</th>
              <th class="align-middle" scope="col">Billing Name</th>
              <th class="align-middle" scope="col">Wallet Discount</th>
              <th class="align-middle" scope="col">Shipping Charge</th>
              <th class="align-middle" scope="col">Offer</th>
              <th class="align-middle" scope="col">Additional Discount</th>
              <th class="align-middle" scope="col">Tax</th>
              <th class="align-middle" scope="col">Total</th>
            </tr>
          </thead>

          <tbody>
            {% for order in orders %}
            <tr>
              <td >{{ order.created_at|date:"j M Y" }}</td>
              <td >{{ order.order_number|slice:"14:" }}</td>
              <td ><b>{{ order.shipping_address.first_name }}</b></td>
              <td >{{ order.wallet_discount }}</td>
              <td >{{ order.shipping_charge }}</td>
              <td >{{ order.offer }}</td>
              <td >{{ order.additional_discount }}</td>
              <td >{{ order.order_tax }}</td>
              <td >{{ order.order_total }}</td>
            </tr>
            {% endfor %}
          </tbody>


        </table>
      </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
  </div><!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            {% if orders.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i class="material-icons md-chevron_left"></i></a></li>
            {% endif %}
            {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
            {% if orders.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"><i class="material-icons md-chevron_right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</section> <!-- content-main end// -->

{% endblock content %}