{% extends 'user_templates/base.html' %}
{% load static %}
{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Register</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden" >
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">SignUp</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row justify-content-between mb-4 flex-column align-items-center" >
               
                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <h3>Welcome !</h3>
                      
                        <form method="post" id="form" action="{% url 'usersignup' %}">
                            {% csrf_token %}
                            <h3>
                                <span>Register your account.</span>
                            </h3>
                            <div class="d-flex " style="gap: 178px; width: 260;">
                                <div class="default-form-box"style="width: 90px; max-width: 600px; position: relative;">
                                    <input type="text" class="mt-3" id="firstname" placeholder="First Name" name="firstname" autocomplete="off"  style="display: block; width: 260px; background: transparent;outline: none; padding: 5px 20px;position: relative; z-index: 10;">
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">  </span>
                                </div>
                                <div class="default-form-box"style="width: 90px; max-width: 600px; position: relative;">
                                    <input type="text" class="mt-3" id="lastname" placeholder="Last Name" name="lastname" autocomplete="off"  style="display: block; width: 260px; background: transparent;outline: none; padding: 5px 20px;position: relative; z-index: 10;">
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">  </span>
                                </div>
                            </div>
                            <div class="d-flex " style="gap: 178px; width: 260;">
                                <div class="default-form-box"style="width: 90px; max-width: 600px; position: relative;">
                                    <input type="text" class="mt-3" id="username" onkeyup="validName()" placeholder="Username" name="username" autocomplete="off"  style="display: block; width: 260px; background: transparent;outline: none; padding: 5px 20px;position: relative; z-index: 10;">
                                    <span id="names" class="text-danger"style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;" ></span>
                                    <!-- <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">  </span> -->
                                </div>
                                <div class="default-form-box" style="width: 90px; max-width: 600px; position: relative;margin-top: 15px;">
                                    <input type="text" class="mt-" id="email" name="email" placeholder="Email" autocomplete="off"  style="display: block; width: 260px; background: transparent;outline: none; padding: 5px 20px;position: relative; z-index: 10;" >
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">  </span>
                                </div>
                            </div>
                            <div class="d-flex " style="gap: 178px; width: 260;">
                                <div class="default-form-box" style="width: 90px; max-width: 600px; position: relative;margin-top: 5px;">
                                   
                                    <input type="password" class="mt-1" id="password" placeholder="Password" name="password1" style="display: block; width: 260px; background: transparent;outline: none; margin-top: 15px; padding: 5px 20px;position: relative; z-index: 10;">
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;"></span>
                                </div>
                                <div class="default-form-box" style="width: 90px; max-width: 600px; position: relative;margin-top: 5px;">
                                   
                                    <input type="password" class="mt-1" id="password2" placeholder="Confirm Password" name="password2" style="display: block; width: 260px; background: transparent;outline: none; margin-top: 15px; padding: 5px 20px;position: relative; z-index: 10;">
                                    <span class="error" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;"></span>
                                </div>
                            </div>
                            <div class="login_submit pt-4">
                                <button class="btn  btn-black-default-hover  w-25" onclick="return validation()" type="submit">Sign Up</button>
                            </div>
                            <div class="mt-3"><h4>Already have an account? <a href="{% url 'userlogin' %}" class="text-decoration-none">Login</a></h4></div>
                        </form>
                      </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->

<!-- 
    <script>
        

        // validation
//         const Form = document.getElementById('form');
// const username = document.getElementById('username');
// const email = document.getElementById('email');
// const password = document.getElementById('password');
// const password2 = document.getElementById('password2');
// const firstname = document.getElementById('firstname');
// const lastname = document.getElementById('lastname');

    //     var Name = document.getElementById('names')
    //     var Fname = document.getElementById('firstname')
    //     var Lname = document.getElementById('lastname')
    //     var Email = document.getElementById('email')
    //     var Password = document.getElementById('password')
    //     // var Phone = document.getElementById('phones')

    //     function validEmail() {
    //         const email = document.getElementById('email').value
    //         if (email == "") {
    //             Email.innerHTML = "enter your email address"
    //             return false
    //         }
    //         if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
    //             Email.innerHTML = 'enter a proper email adress'
    //             return false
    //         }
    //         Email.innerHTML = null
    //         return true
    //     }  

    //     function validName() {
            
    //         const name = document.getElementById('username').value;
    //         if (name == "") {
    //             Name.innerHTML = 'Enter your Name'
    //             return false
    //         }
    //         if (!name.match(/^[a-zA-Z\s-, ]+$/)) {
    //             Name.innerHTML = 'Numbers and symbols are not allowed'
    //             return false
    //         }
    //         if(name.length < 3){
    //             Name.innerHTML = "Name must be three characters long"
    //             return false
    //         }
    //         Name.innerHTML = null
    //         return true
    //     }
        
    //     function validFname() {
            
    //         const fname = document.getElementById('firstname').value;
    //         if (fname == "") {
    //             Name.innerHTML = 'Enter your Fname'
    //             return false
    //         }
    //         if (!fname.match(/^[a-zA-Z\s-, ]+$/)) {
    //             Name.innerHTML = 'Numbers and symbols are not allowed'
    //             return false
    //         }
    //         if(fname.length < 3){
    //             Name.innerHTML = "Name must be three characters long"
    //             return false
    //         }
    //         fname.innerHTML = null
    //         return true
    //     }

    //     function validLname() {
            
    //         const lname = document.getElementById('lastname').value;
    //         if (lname == "") {
    //             Lname.innerHTML = 'Enter your Fname'
    //             return false
    //         }
    //         if (!lname.match(/^[a-zA-Z\s-, ]+$/)) {
    //             Lname.innerHTML = 'Numbers and symbols are not allowed'
    //             return false
    //         }
    //         if(lname.length < 3){
    //             Lname.innerHTML = "Name must be three characters long"
    //             return false
    //         }
    //         lname.innerHTML = null
    //         return true
    //     }

    //     function validPassowrd() {
    //         const password = document.getElementById('password').value
    //         if (password == "") {
    //             Password.innerHTML = "enter password"
    //             return false
    //         }
    //         if (password.length < 6) {
    //             Password.innerHTML = "password should be more than six characters"
    //             return false
    //         }
    //         Password.innerHTML = null
    //         return true
    //     }
    //     function validation() {
    //         if (!validEmail() && !validName() && !validPassowrd() && !validPhone()) {
    //             return false
    //         } else if (!validEmail() || !validName() || !validPassowrd() || !validPhone() ) {
    //             return false
    //         }else { return true }
    //     }


     </script>  -->


<!-- <script>
const Form = document.getElementById('form');
const username = document.getElementById('username');
const email = document.getElementById('email');
const password = document.getElementById('password');
const password2 = document.getElementById('password2');
const firstname = document.getElementById('firstname');
const lastname = document.getElementById('lastname');

// form.addEventListener('submit', e => {
//     validateInputs();
//     e.preventDefault();
// });



const setError = (element, message) => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = message;
    inputControl.classList.add('error');
    inputControl.classList.remove('success')
}

const setSuccess = element => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = '';
    inputControl.classList.add('success');
    inputControl.classList.remove('error');
};

const isValidEmail = email => {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

const validateInputs = () => {
    // e.preventDefault()
    const usernameValue = username.value.trim();
    const emailValue = email.value.trim();
    const passwordValue = password.value.trim();
    const password2Value = password2.value.trim();
    const firstnameValue = firstname.value.trim();
    const lastnameValue = lastname.value.trim();

    if(usernameValue === '') {
        setError(username, 'Username is required');
    } else {
        setSuccess(username);
    }

    if(emailValue === '') {
        setError(email, 'Email is required');
    } else if (!isValidEmail(emailValue)) {
        setError(email, 'Provide a valid email address');
    } else {
        setSuccess(email);
    }

    if(passwordValue === '') {
        setError(password, 'Password is required');
    } else if (passwordValue.length < 3 ) {
        setError(password, 'Password must be at least 8 character.')
    } else {
        setSuccess(password);
    }

    if(password2Value === '') {
        setError(password2, 'Please confirm your password');
    } else if (password2Value !== passwordValue) {
        setError(password2, "Passwords doesn't match");
    } else {
        setSuccess(password2);
    }

    if(firstnameValue === '') {
        setError(firstname, 'Please enter first name');
    } else {
        setSuccess(firstname);
    }
    if(lastnameValue === '') {
        setError(lastname, 'Please enter last name');
    } else {
        setSuccess(lastname);
    }


    alert('sd')
    
    // const hasErrors = document.querySelector('.error');

    // // If there are errors, prevent form submission
    // if (hasErrors) {
    //     return;
    // }
    // Form.submit();
};


form.addEventListener('submit', e => {
    e.preventDefault();
    validateInputs();
});

// Form.addEventListener('submit', validateInputs);

</script> -->

    {% endblock content %}